body{
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #eee;
    font-family: Poppins;
    font-size: 12px;
    width: 100%;
}
a{
    text-decoration: none;
}
header nav a:hover{
    color: rgb(106, 255, 0);
    font-weight: normal;
    text-shadow: 5px 5px 20px black;
    transition: 1.5s ease-in-out;
}
