* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #000000;
    line-height: 1.6;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    color: orange;
    padding: 50px 0;
    text-align: center;
    height: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://wallpapers.com/images/hd/3d-animated-tiger-146yx0mre6bx60eg.jpg');
    background-size: cover;
    background-position: center;
}

header h1 {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 15px 25px;
    background-color: #db7202;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    color: #f6f6f6;
    background-color: #f39c12;
}

.section {
    padding: 50px 0;
    margin-bottom: 30px;
    width: 80%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.section h2 {
    font-size: 2.5em;
    color: white;
    margin-bottom: 25px;
}

.section p {
    font-size: 1.2em;
    margin-bottom: 25px;
}

.section img {
    width: 100%;
    max-width: 700px;
    height: auto;
    border-radius: 8px;
    margin-top: 30px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 1.2em;
}

ul li {
    margin-bottom: 15px;
}

footer {
    background-color: #2c3e50;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

footer p {
    font-size: 1.2em;
}

.h1 {
    font-size: 120px;
}

.container1 {
    color: #db7202;
    width: 80%;
    margin: auto;
}




